<!-- templates/menusystem/mealorder_list.html -->
<h2>Orders for menu</h2>
{% for order in mealorder_list %}
<p>Order for: {{ order.employee.username }} - {{ order.meal.name }} - Customization: {{ order.customization }}</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<p><a href="{% url 'menu' %}">Back to Menus</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>
